.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.mb-3
{
  margin: 30px auto;
  width: 30%
}

.form-label
{
  margin-top: 10px;
}

h2{
  text-align: center;
}

button{
  text-align: center;
  margin: 0 auto;
  display: flex;
  display: grid;
}