.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.mb-3
{
  margin: 30px auto;
  width: 30%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.form-label
{
  margin-top: 10px;
}

h2{
  text-align: center;
}

.doctorform{
  background-image: url("./components/Images/136934.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height:93vh;
  
}


.supplierform{
  background-image: url("./components/Images/DoctorBackGroundjpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:93vh; 
}

.manufacturerform{
  background-image: url("./components/Images/Medicine-factory-768x438.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:93vh; 
}